@model IEnumerable<EntityBase>
<table>
    <tr>
        <th id="main_title" colspan="3"><h1>Lineage 2 Services main page</h1></th>
    </tr>
    <tr>
        @foreach (var item in Model)
        {
            <td class="small_card">
                <img src="@item.Preview" alt="@item.Title" />
                <div class="content1">
                    <small>@item.Title</small>
                    <h2>@item.Subtitle</h2>
                    <p>@item.Description</p>
                    <a title="Go to @item.Title page" href="@Url.Action("ServicePage", "Home", new { item_id = item.Id })">@item.Title page</a>
                </div>
            </td>
        }
    </tr>
    <tr>
        <td class="big_card" colspan="3">
            <img src="images/Form2.jpg" alt="form">
            <form action="/Home/Form" method="POST">
                <fieldset>
                    <legend>Make ur order</legend>
                    <input type="text" name="Name" placeholder="Your nickname here" required /><br />
                    <input type="text" name="Tel" placeholder="Your server here" required /><br />
                    <select name="Services">
                        <option value="Adena">Adena</option>
                        <option value="Exp">Exp</option>
                        <option value="Quests">Quests</option>
                    </select><br />
                    <input type="submit" />
                </fieldset>
            </form>
        </td>
    </tr>
</table>

@section Nav {
    @foreach (var item in Model)
    {
        <li><a title="Go to @item.Title page" href="@Url.Action("ServicePage", "Home", new { item_id = item.Id })">@item.Title</a></li>
    }
}