@model EntityBase
<table>
    <tr>
        <th id="main_title" colspan="3"><h1>@Model.Title</h1></th>
    </tr>
    <tr class="big_pic">
        <td colspan="3"><img id="previewpic" src="@Model.Subpreview.Split(',')[0]" alt="Preview" /></td>
    </tr>
    <tr class="small_pic">
        <td><img onclick="SetImg(this.src)" src="@Model.Subpreview.Split(',')[0]" /></td>
        <td><img onclick="SetImg(this.src)" src="@Model.Subpreview.Split(',')[1]" /></td>
        <td><img onclick="SetImg(this.src)" src="@Model.Subpreview.Split(',')[2]" /></td>
    </tr>
</table>

@section Nav {
    <li><a title="Go to Adena page" href="@Url.Action("ServicePage", "Home", new { item_id = 1 })">Adena</a></li>
    <li><a title="Go to Experience page" href="@Url.Action("ServicePage", "Home", new { item_id = 2 })">Experience</a></li>
    <li><a title="Go to Quests page" href="@Url.Action("ServicePage", "Home", new { item_id = 3 })">Quests</a></li>
}
