@model EntityBase
<table>
        <tr>
            <th id="main_title" colspan="3"><h1>@Model.Title</h1></th>
        </tr>
        <tr class="big_pic">
            <td colspan="3"><img id="previewpic" src="@Model.Subpreview.Split(",")[0]" alt="Preview" /></td>
        </tr>
        <tr class="small_pic">
            <td><img src="@Model.Subpreview.Split(",")[0]" alt="Adena farm" /></td>
            <td><img src="@Model.Subpreview.Split(",")[1]" alt="Siege winner" /></td>
            <td><img src="@Model.Subpreview.Split(",")[2]" alt="Enchanted weapon" /></td>
        </tr>
</table>